#border{
    border-style: solid;
    border-width: 3px;
    border-color: rgb(84, 83, 84);
    border-radius: 5px;
    padding: 16px;
    max-width: 175px;
    background: #c9c8c8;
    text-align: center;
}